// app global css in SCSS form
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  color: #7a7a7a;
  margin-bottom: 10px;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.q-btn-dropdown {
  opacity: 0.85 !important;
}

.q-btn--fab .q-icon {
  margin: 0;
}

// CUSTOM CLASS
.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.wrapper-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.wrapper-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.wrapper-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.text-special {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5rem;
  transform: rotate(-9deg);
}

.text-special-2 {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.name-sophrologue {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-wrap: wrap;
}

.name-sophrologue-phone {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8rem;
}

.separation-contact {
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
